*{
	margin:0;
	padding:0;
}
html{
	background: url(https://images.unsplash.com/photo-1502477639450-ccb7a6e7c391?dpr=1&auto=compress,format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
}
main{
	font-size:17px;
	font-family: 'Source Sans Pro', sans-serif;
}

h1{
	color:#E52A6F;
	background:#5F0F4E;
	font-family: 'Playfair Display', serif;
	font-size: 48px;
	font-weight:bold;
	margin:0px;
}

h2{
	color:#5F0F4E;
	background:#E52A6F;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0px;
	margin-top:0px;
}

.outOrIn{
	background:#E52A6F;
	color:#5F0F4E;
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

button{
	background:#67AECA;
	color:#5F0F4E;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:10px;
	border:1px solid #5F0F4E;
	outline:0;
	padding:5px;
}

p{
	margin-top:5px;
	margin-bottom:5px;
}

form a{
	color:#67AECA;
}

form a:hover{
	color:#E52A6F;
}

form{
	background:#5F0F4E;
	color:#67AECA;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
}

.ideaContainer{
	background:#5F0F4E;
	color:#67AECA;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	padding:20px;
	line-height:130%;
	text-align:center;
}

.cityRequestContainer{
	width:60%;
}

header, .outOrInBox, nav, .city{
    text-align:center;
}

.column{
	text-align:center;
	float:left;
	width:46%;
	margin:1%;
	padding:1%;
}

.stop:after{
	display:block;
	content:"";
	clear:both;
}

.foodPic{
	width:66%;
	height:auto;
}

.resultHolder a{
	color:#5F0F4E;
}

.resultHolder a:hover{
	color:#E52A6F;
}

.resultHolder{
	background:#675682;
	color:#5F0F4E;
	margin-bottom:10px;
	margin-top:10px;
	padding:10px;
	line-height:130%;
	text-align:center;
}

nav{
	position:fixed;
	bottom:0;
	left:30%;
	right:30%;
	background:#5F0F4E;
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
}

@media only screen and (max-width:640px){

	*{
		margin:0;
		width:100%;
		padding:0;
	}
	
	.column{
		width:100%;
		margin:0;
		padding:0;
	}

	form{
		width:100%;
		padding:0;
		margin-left:0;
		margin-right:0;
		margin-top:5px;
		margin-bottom:5px;
	}

	.eventColumn{
		margin-right:0;
		margin-left:0;
		margin-top:0;
		margin-bottom:100px;
		width:100%;
		padding:0;
	}

	.ideaContainer{
		width:100%;
		margin-left:0;
		margin-right:0;
		margin-top:0;
		margin-bottom:100px;
		padding:0;
	}

	input{
		width:90%;
		margin:0;
		padding:0;
	}

	button{
		margin-top:5px;
		width:30%;
	}

	.resultHolder{
		width:100%;
		margin:0;
		padding-left:0;
		padding-right:0;
		padding-bottom:0;
		padding-top:10px;
	}

	a img{
		width:66%;
	}

	img.attEvent{
		width:20%;
	}

	img.attFood{
		width:10%;
	}

	img.attRecipe{
		width:30%;
	}

	nav{
		width:90%;
		bottom:0;
		left:5%;
		right:5%;
		margin:0;
		padding:0;
	}
	.cityRequestContainer{
	width:60%;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	margin-bottom:15px;
}
}