*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html{
	background: url(https://github.com/camerondodd/DateNight/raw/master/background.jpeg) no-repeat center center fixed;
	-webkit-background-size:  cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size:  cover;
}

main{
	font-size:17px;
	font-family: 'Source Sans Pro', sans-serif;
}

h1{
	color:rgb(140, 50, 40);
	background:rgb(32,36,39);
	font-family: 'Playfair Display', serif;
	font-size: 48px;
	font-weight:bold;
	margin:0px;
	padding-bottom:10px;
	padding-top:5px;
	vertical-align:center;
	/*border-bottom:4px ridge rgb(170,187,191);*/
}

h2{
	background:rgb(170,187,191);
	color:rgb(17, 79 ,89);
	width:100%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0px;
	margin-top:0px;
	padding-bottom:10px;
	padding-top:5px;
	vertical-align:center;
	/*border-bottom: ridge 4px rgb(170,187,191);*/
}

.welcome{
	background:rgb(17, 79 ,89);
	color:rgb(170,187,191);
	border:none;
}

/*.intro{
	background:rgb(170,187,191);
	color:rgb(17, 79 ,89);
	width:80%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:10px;
	box-shadow: 1px 0px rgb(32,36,39);
	border-left: ridge 4px rgb(17, 79 ,89);
	border-right: ridge 4px rgb(17, 79 ,89);
	border-bottom:ridge 4px rgb(17, 79 ,89);
	border-radius: 0px 0px 10px 10px;
}

.intro p{
	margin:0;
}*/

.outOrIn{
	background:rgb(17, 79 ,89);
	color:rgb(170,187,191);
	width:60%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 50px;
	padding:10px;
	box-shadow: 2px 2px rgb(32,36,39);
	/*border:ridge 4px rgb(170,187,191);*/
	border-radius: 10px 10px 10px 10px;
	
}

.outOrIn button{
	width:40%;
	height:auto;
	padding:5px;
}

button{
	background:rgb(140, 50, 40);
	color:rgb(170,187,191);
	margin-left:5px;
	margin-right:5px;
	margin-bottom:10px;
	margin-top:10px;
	box-shadow: 1px 1px rgb(32,36,39);
	/*border:3px ridge rgb(170,187,191);*/
	border-radius: 10px 10px 10px 10px;
	outline:0;
	padding:5px;
	font-weight:bold;
	font-size:20px;
}

button:hover{
	background:rgb(170,187,191);
	color:rgb(140, 50, 40);
	cursor:pointer;
}

p{
	margin-top:5px;
	margin-bottom:5px;
}

a{
	color:rgb(32,36,39);
	text-decoration:none;
}

a:hover{
	color:rgb(140, 50, 40);
	text-decoration:none;
	cursor:pointer;
}

form{
	background:rgb(17, 79 ,89);
	color:rgb(170,187,191);
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	padding:10px;
	box-shadow: 2px 2px rgb(32,36,39);
	/*border:ridge 4px rgb(170,187,191);*/
	border-radius:10px 10px 10px 10px;
}

.ideaContainer{
	background:rgb(17, 79 ,89);
	color:rgb(170,187,191);
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	margin-bottom:10px;
	padding:20px;
	line-height:130%;
	text-align:center;
	box-shadow: 2px 2px rgb(32,36,39);
	/*border:ridge 4px rgb(170,187,191);*/
	border-radius:10px 10px 10px 10px;
}

.cityRequestContainer{
	width:60%;
	padding:10px;
}

.cityRequestContainer input{
	width:60%;
	margin-right:auto;
	margin-left:auto;
	padding:5px;
	text-align:center;
	margin-top:10px;
}

input{
	padding:5px;
	margin:5px;
	font-size:17px;
	border-radius: 10px 10px 10px 10px;
}

.foodInput,.recipeInput{
	padding-left: 10px;
}

.cityRequestContainer button{
	width:40%;
	height:auto;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:0px;
	padding:5px;
}

.cityResults{
	margin-top:5px;
}

.recipeRequestContainer, .foodRequestContainer, .eventRequestContainer{
	margin-bottom: 10px;
}

header, .outOrInBox, nav, .city{
	text-align:center;
}

.column{
	text-align:center;
	float:left;
	width:46%;
	margin:1%;
	padding:1%;
}

.stop:after{
	display:block;
	content:"";
	clear:both;
}

img{
	width:80%;
	height:auto;
	margin-top:8%
}

img:hover{
	opacity:0.5;
	cursor:pointer;
}

img.attEvent{
	width:58px;
	margin-top:0;
}

img.attFood{
	width:32px;
	margin-top:0;
}

img.attRecipe{
	width:100px;
	margin-top:0;
}

footer{
	position:fixed;
	bottom:0;
	width:100%;
	color:rgb(140, 50, 40);
	background:rgb(32,36,39);
	padding:5px;
	vertical-align:center;
	font-size:17px;
}

footer span{
	margin-left:10px;
	margin-right:10px;	
}

.resultHolder{
	background:rgb(170,187,191);
	color:rgb(32,36,39);
	margin-bottom:45px;
	padding:10px;
	line-height:130%;
	text-align:center;
	margin-left:10%;
	margin-right:10%;
	box-shadow: 1px 1px rgb(32,36,39);
	/*border:5px groove rgb(170,187,191);*/
	border-radius: 10px 10px 10px 10px;
}

.ideaResults .resultHolder img{
	margin-bottom:4%;
}

nav{
	position:fixed;
	bottom:0;
	width:100%;
	background:rgb(32,36,39);
	vertical-align:center;
}
nav button{
	background:rgb(140, 50, 40);
	color:rgb(170,187,191);
	box-shadow: 1px 1px rgb(32,36,39);
	/*border:3px ridge rgb(170,187,191);*/
	vertical-align:center;
	margin-top:10px;
	margin-bottom:10px;
	font-size:17px;
}

nav button:hover{
	background:rgb(170,187,191);
	color:rgb(140, 50, 40);
	cursor:pointer;
}

@media only screen and (max-width:800px){

	*{
		margin:0;
		width:100%;
		padding:0;
	}
	
	.column{
		width:100%;
		margin:0;
		padding:0;
	}

	form{
		box-sizing: border-box;
		width:100%;
		padding:5px;
		margin-left:0;
		margin-right:0;
		margin-top:10px;
		margin-bottom:0px;
	}

	.eventColumn{
		margin-right:0;
		margin-left:0;
		margin-top:0;
		margin-bottom:40px;
		width:100%;
		padding:0;
	}

	.ideaContainer{
		box-sizing: border-box;
		width:100%;
		margin-left:0;
		margin-right:0;
		margin-top:0;
		margin-bottom:40px;
		padding:5px;
	}

	input{
		box-sizing: border-box;
		width:90%;
		margin:5px;
		padding:0;
	}

	button{
		margin-top:5px;
		width:30%;
	}

	.resultHolder{
		width:100%;
		margin-left:0;
		margin-right:0;
		margin-top:0;
		margin-bottom:50px;
		padding-left:0;
		padding-right:0;
		padding-bottom:10px;
		padding-top:10px;
	}

	footer{
		font-size:14px;
	}

	img.attEvent{
		width:58px;
		margin-top:0;
	}

	img.attFood{
		width:32px;
		margin-top:0;
	}

	img.attRecipe{
		width:80px;
		margin-top:0;
	}

	.cityRequestContainer{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	}

	nav{
		height:45px;
	}

	nav button{
		width:60%;
		font-size:17px;
		margin-bottom:5px;
		margin-top:5px;
	}
}